@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="mb-2 mt-2 text-center text-danger">
    <i class="bi bi-x-circle fs-1"></i>
</p>

<h3 class="mb-2 mt-2 fs-1 text-center text-danger">Error</h3>

<p class="mb-2 mt-2 fs-3 text-center color-bdo">@ViewBag.Message</p>