@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="mb-3 mt-2 text-center text-danger">
    <i class="bi bi-x-circle fs-1" style="font-size:4rem !important;"></i>
</p>

<h3 class="mb-2 fs-1 text-center text-danger">Error</h3>

<p class="mb-2 mt-2 fs-3 text-center color-bdo">@ViewBag.Message</p>

<div class="col-12 mt-5 text-center">
    <button class="btn bg-bdo me-2 text-center"> <i class="bi bi-arrow-left"></i>Volver al Inicio</button>
</div>

