/*#region html y body */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*#endregion */

/*#region navbar */

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand.text-white:hover {
    color: #c9c9c9 !important;
    text-decoration: none;
}

.nav-link {
    color: #ffffff !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #c9c9c9 !important;
    text-decoration: none;
}

/*#endregion */

/*#region accordion */

.accordion-button::after {
    filter: invert(1) grayscale(100%) brightness(200%); /* Hace la flecha blanca */
}

.accordion-button:not(.collapsed)::after {
    filter: invert(1) grayscale(100%) brightness(200%); /* Asegura que la flecha siga blanca cuando está expandido */
}

.accordion-button:focus,
.accordion-button:hover {
    color: #ffffff; /* Asegura que el texto permanezca blanco al interactuar */
}

/*#endregion */

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.bg-bdo {
    background-color: #354997 !important;
    color: #fff;
}

.color-bdo {
    color: #354997 !important;
}

.icon-action:hover i {
    color: #c9c9c9 !important;
    text-decoration: none;
}

.pagination .page-item.active .page-link {
    background-color: #354997 !important;
    color: #fff;
}

.fs-7 {
    font-size: 0.8rem !important;
}

.form-control.is-valid,
.form-select.is-valid {
    border-color: #198754 !important; /* verde Bootstrap */
    padding-right: 0.375rem !important; /* quita espacio reservado al ícono */
    background-image: none !important; /* elimina el tilde */
    box-shadow: 0 0 0 0.1rem rgba(25, 135, 84, 0.25); /* leve brillo verde opcional */
}

.sortable {
    cursor: pointer;
    transition: background-color 0.4s;
}


.sortable:hover {
    color: grey;
}

